h1{
    color:#ffff00;
    font-size:50px;
    font-weight:bold;
    font-family:"impact";
    text-align:center;
    background-color:#000000;
}

h2{
    color:#ff4500;
    font-size:50px;
    font-weight:bold;
    font-family:"impact";
    text-align:center;
    background-color:#000000;
}

h3{
    color:#1e90ff;
}

p{
    background-color:greenyellow;
}

a{
    color:#800080;
}

body{
    background-image:url(../images/kadai3.jpg);
    
}